.container {
  display: 'inline-block';
  width: '1440px';
  min-width: 1440px;
  padding-top: 20px;
  padding-bottom: 58px;
  background: '#FFFFFF';
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
